<%= render "components/navbar" %>

<h1>Lists</h1>

<ol><% @lists.each do |list| %>
  <li>
  <%= link_to list.name, list_path(list.id) %>
  </li>
  <% end %>
</ol>

<%= cl_image_tag("cld-sample-5", width: 400, height: 300, crop: :fill) %>
